body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100hv;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
}

Header {
  display: flex;
  justify-content: space-around;
  background-color: #e4f7fd;
  gap: 60%;
  padding: 2% 2% 0% 2%;
}

.logo-1 {
  height: 60px;
  width: 150px;
}

#parent-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(229, 247, 247);
  flex-wrap: wrap;
  height: 750px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
}
.first-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 90px;
  width: 40%;
}
.icon2 {
  display: flex;
  width: 690px;
  height: 600px;
}

.first-container h1 {
  font-size: 70px;
}
.first-text {
  font-size: 23px;
  margin-top: -120px;
}

.first-button {
  border-radius: 40em;
  background-color: black;
  color: white;
  width: 280px;
  height: 100px;
  font-size: 15px;
  margin-top: -70px;
}
.images {
  display: flex;
  justify-content: space-around;
}
#Empty {
  height: 630px;
  display: flex;
  align-items: flex-start;
}

#parent-container2 {
  display: flex;
  justify-content: space-around;
}
.container2 {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  width: 20%;
}

.text2 {
  width: 40%;
  margin-top: 0%;
  font-weight: 1;
}
#parent-container3 {
  display: flex;
  background-color: #222222;
  color: white;
  padding: 90px 90px 90px 90px;
}

.container3 {
  display: flex;
  justify-content: space-around;
}
#parent-container4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
}
.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 500px;
  font-size: 35px;
  margin-right: 10%;
}

.pin {
  position: relative;
  top: 50%;
  left: -15%;
}
.chart {
  position: absolute;
  top: 420%;
  left: 80%;
}
#parent-container5 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #222222;
  color: white;
  height: 400px;
  padding: 40px 40px 40px 40px;
}
.container5 {
  font-size: 30px;
  width: 990px;
  font-weight: 100;
}

#parent-container6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30caff;
  height: 250px;
  padding: 0px 100px 0px 100px;
  gap: 30px;
}
.container6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1090px;
}
.contact-button {
  color: white;
  background-color: #424242;
  border-radius: 15px;
  width: 250px;
  height: 70px;
  font-size: 20px;
}
#parent-container7 {
  display: flex;
  flex-direction: column;
  background-color: #e4f7fd;
  padding: 5% 4% 5% 8%;
  gap: 45px;
  height: 400px;
}
#parent-container8 {
  display: flex;
  background-color: #e4f7fd;
  flex-direction: row;
  height: 300px;
  gap: 5%;
}
.Lets-talk-button {
  color: white;
  background-color: #1297d5;
  border-radius: 2px;
  border: none;
  width: 130px;
  height: 40px;
  font-size: 20px;
}
.amplicity {
  width: 40%;
  gap: 20px;
  height: 100px;
}
.address {
  width: 20%;
}
.address p {
  font-size: 15px;
  padding-bottom: 1em;
}
.service {
  width: 20%;
}
.service li {
  font-size: 15px;
}

a {
  color: black;
  text-decoration: none;
}
li {
  padding-bottom: 1em;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #e4f7fd;
  align-items: flex-start;
  padding: 0 4% 0 8%;
  margin-top: -100px;
  font-size: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #30caff;
  border-radius: 6px;
}
::-webkit-scrollbar {
  width: 12px;
}
